<h1>Welcome to Reurl</h1>

<%= notice %>

<%= link_to '新增短網址', new_url_path %>

<table>
  <tr>
    <td>網址</td>
    <td>短網址</td>
    <td>url網址</td>
    <td>編輯</td>
    <td>刪除</td>
  </tr>

  <% @urls.each do |url| %>
    <tr>
      <td><%= url.page %></td>
      <td><%= link_to url.shortener, url_path(url.id) %></td>
      <td><%= url.utm_url %></td>
    </tr>
  <% end %>
</table>