<h1 class="mt-16 mb-16 text-3xl font-bold text-center">Welcome to Pointer</h1>
<%= console %>

<div class="flex space-x-96">
  <%= link_to '新增短網址', new_url_path, class: "w-32 px-4 py-3 font-medium bg-red-200 rounded flex items-center cursor-pointer hover:bg-red-300 focus:ring-4 ring-0 focus:ring-red-100 mb-6 ml-2" %>

  <%= form_with(url: root_path, method: :get, data: {turbo_frame: "search"}) do |form| %>

    <div class="flex space-x-3">
      <%= form.label :query, "網址搜尋", class: "block m-auto" %>

      <%= form.text_field :query, class: "w-80 py-3 px-4 rounded border ring-0 focus:ring-4 focus:ring-red-100 focus:shadow-none focus:border-orange-500 focus:outline-none" %>

      <%= form.submit '送出', class: "px-4 py-3 font-medium bg-red-200 rounded flex items-center cursor-pointer hover:bg-red-300 focus:ring-4 ring-0 focus:ring-red-100" %>
    </div>
  <% end %>
</div>

<div id="search">
  <table class="ml-2 mr-2 border">
    <thead>
      <tr>
        <td class="w-3/12 p-2 text-center">短網址</td>
        <td class="w-5/12 p-2 text-center">網址</td>
        <td class="w-1/12 p-2"></td>
        <td class="w-1/12 p-2"></td>
        <td class="w-1/12 p-2 text-center">點擊次數</td>
        <td class="w-1/12 p-2 text-center">標籤</td>
      </tr>
    </thead>
    <tbody>
      <% @search.each do |url| %>
        <tr class="text-center border">
          <td data-controller="copy-url" class="p-2">
            <%= link_to "#{@env}/reurl/#{url.shortener}", url_path(url.shortener), target: "_blank", data: { target: "copy-url.page" }, class: "block mb-6" %>
            <button data-action="click->copy-url#copyToClipboard" class="flex items-center px-4 py-3 m-auto font-medium bg-red-200 rounded cursor-pointer w-18 text-neutal-900 hover:bg-red-300 focus:ring-4 ring-0 focus:ring-red-100">複製</button>
          </td>
          <td class="p-2"><%= url.utm_url %></td>
          <td class="p-2"><%= link_to '編輯', edit_url_path(url.id), class: "w-16 px-4 py-3 font-medium bg-red-200 rounded flex items-center cursor-pointer hover:bg-red-300 focus:ring-4 ring-0 focus:ring-red-100"%></td>
          <td class="p-2"><%= link_to '刪除', url_path(url.id), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "w-16 px-4 py-3 font-medium bg-red-200 rounded flex items-center cursor-pointer hover:bg-red-300 focus:ring-4 ring-0 focus:ring-red-100"%></td>
          <td class="p-2 text-center"><%= url.click_logs.size %></td>
          <td class="p-2 text-center">
            <% if url.tag.present? %>
              <%= url.tag.tag.tr(' ',',') %>
              <%= link_to '修改標籤', edit_url_tags_path(url.id), class: "w-24 px-4 py-3 font-medium bg-red-200 rounded flex items-center cursor-pointer hover:bg-red-300 focus:ring-4 ring-0 focus:ring-red-100 mb-4 mt-4"%>
              <%= link_to '刪除標籤', url_tags_path(url.id), data: { turbo_method: :delete }, class: "w-24 px-4 py-3 font-medium bg-red-200 rounded flex items-center cursor-pointer hover:bg-red-300 focus:ring-4 ring-0 focus:ring-red-100 mb-4" %>
            <% else %>
              <%= link_to '新增標籤', new_url_tags_path(url.id), class: "w-24 px-4 py-3 font-medium bg-red-200 rounded flex items-center cursor-pointer hover:bg-red-300 focus:ring-4 ring-0 focus:ring-red-100 mb-6 "%>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>




