<!DOCTYPE html>
<html>
  <head>
    <title>Pointer</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-E682RC6472">
    </script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-E682RC6472');
    </script>
    <!-- Meta Pixel Code -->
    <script>
      !function(f,b,e,v,n,t,s)
      {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
      n.callMethod.apply(n,arguments):n.queue.push(arguments)};
      if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
      n.queue=[];t=b.createElement(e);t.async=!0;
      t.src=v;s=b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t,s)}(window, document,'script',
      'https://connect.facebook.net/en_US/fbevents.js');
      fbq('init', '1316646272469990');
      fbq('track', 'PageView');
      </script>
      <noscript>
        <img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=1316646272469990&ev=PageView&noscript=1"/>
      </noscript>
  <!-- End Meta Pixel Code -->
      <meta name="facebook-domain-verification" content="c8z583nuhv0cyv4gpjr55jj34uxy3v" />
  </head>

  <body>
    <div>
      <% if notice %>
        <p class="mt-4 ml-4 text-xl font-bold text-center"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="mt-4 ml-4 text-xl font-bold text-center"><%= alert %></p>
      <% end %>
    </div>
    <% if user_signed_in? %>
      <%= render 'layouts/user_sign_in' %>
      <%= yield %>
    <% else %>
      <%= yield %>
    <% end %>
  </body>
</html>
