<!DOCTYPE html>
<html>
  <head>
    <title>Pointer</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div>
      <% if notice %>
        <p class="text-xl font-bold ml-4 mt-4 text-center"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="text-xl font-bold ml-4 mt-4 text-center"><%= alert %></p>
      <% end %>
    </div>
    <% if user_signed_in? %>
      <%= render 'layouts/user_sign_in' %>
      <%= yield %>
    <% else %>
      <%= yield %>
    <% end %>
    <% console %>
  </body>
</html>
